<%- include('partials/header', {title: "success!", allAss: allAss}) -%>

<h2> success! </h2>
<p> your assignment was deleted. congrats on not having to do it anymore</p>

<a href="/today">
<img src="/photos/cal.png" alt="cal" width = "49%" > </a>
<a href="/assignmentCreate">
<img src="/photos/new.png" alt="new" width = "49%" href = "/assignmentCreate"> </a>



<%- include('partials/footer') -%>
