<%- include('partials/header', {title:"Oh no! There was an error :(", allAss: allAss}) -%>

<div id = "title" >
<h2> <%=errorCode%> Error</h2>
<p> <i> The resource you requested has not been found. </i> </p>
</div>

<%- include('partials/footer') -%>
