<%- include('partials/header', {title:"TaskUp", allAss: allAss}) -%>
<div id = "title" >
<h1> welcome to taskup </h1>
<i>  the online planner where you can see all your assignments broken into bitsize steps! </i>
</div>

<br>
<a href="/today">
<img src="/photos/cal.png" alt="cal" width = "49%" > </a>
<a href="/assignmentCreate">
<img src="/photos/new.png" alt="new" width = "49%" href = "/assignmentCreate"> </a>



  <%- include('partials/footer') -%>
